.contact-row {
    display: flex;
    padding: 12.8rem 0 6.4rem 0;
    background: var(--color-05bright-blue);
    gap: 1.6rem;
}

.contact-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
    gap: .8rem;
}

.contact__h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: var(--color-gray);
}

.contact__text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--color-gray);
}

.contact-fields-container {
    width: 100%;
    border: none;
}

.contact-fields-cow {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    gap: 3.2rem;
}

.contact-fields-cow2 {
    display: flex;
    flex-direction: column;
}

.contact-fields-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--color-white);
    padding: .8rem  1.2rem .8rem 1.2rem;
    border-radius: .5rem;
    border-bottom: 1px solid #C8C8C8;
    gap: .4rem;
}

.contact__title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #A2A2A2;
}

.contact-input__text {
    border: none;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-gray);
    outline: none;
}

.contact__subject {
    border: none;
    font-size: 1.6rem;
    line-height: 2.0rem;
    padding: 1.2rem 1.6rem;
    border-radius: .5rem;
    border-bottom: 1px solid #C8C8C8;
    width: 100%;
    gap: .4rem;
    color: var(--color-gray);
    outline: none;
}

.contact__subject::placeholder {
    color: #A2A2A2;
    font-family: 'Raleway', sans-serif;
}

.contact__image {
    object-fit: cover;
}

textarea {
    font-family: 'Raleway', sans-serif;
    color: var(--color-gray);
}

.btn-footer__decoration {
    background: var(--color-blue);
    border: 0.1rem solid var(--color-blue);
    cursor: pointer;
    text-decoration: none;
    padding: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--color-white);
    transition: background .2s;
}

.btn-footer__decoration:hover {
    background: var(--color-04bright-blue);
}

.footer-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.2rem;
    gap: 1.0rem;
    width: 100%;
    background: var(--color-white);
}