.contact-row {
    display: flex;
    padding: 12.8rem 0 6.4rem 0;
    background: var(--color-05bright-blue);
    gap: 1.6rem;
}

.contact-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.2rem;
    gap: .8rem;
}

.contact__h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: var(--color-gray);
}

.contact__text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--color-gray);
}

.contact-fields-container {
    width: 100%;
    border: none;
}

.contact-fields-cow {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.contact-fields-cow2 {
    display: flex;
    flex-direction: column;
}

.contact-fields-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--color-white);
    padding: .8rem  1.2rem .8rem 1.2rem;
    border-radius: .5rem;
    border-bottom: 1px solid #C8C8C8;
    gap: .4rem;
}

.contact__title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #A2A2A2;
}

.contact-input__text {
    border: none;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-gray);
    outline: none;
}

