.main-block {
    display: grid;
    gap: 8.8rem;
}

.main-block-card {
    display: grid;
    gap: 3.2rem;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.6rem);
    gap: 1.6rem;
}

.main__title {
    text-align: center;
    font-size: 3.2rem;
    line-height: 3.8rem;
    color: var(--color-gray);
}

.main-skills {
    position: relative;
    border-radius: .8rem;
    text-align: center;
}

.main-skills__hobbie {
    width: 17.6rem;
    height: 17.6rem;
}

.main-skills__text {
    position: absolute;
    background: var(--color-05bright-blue);
    color: var(--color-gray);
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    width: 100%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}